/** CSS STYLE **/
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  font-family: "Open Sans", sans-serif;
  width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0px;
}
.header {
  background-color: #f5f4f0;
  /* background: url("../images/background.png") center/contain no-repeat #f5f4f0; */
  position: relative;
  overflow: hidden;
}
.background::before {
  content: url("../images/background.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header-title {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2em;
  color: #fe8a02;
  margin-bottom: 185px;
}
.main {
  position: absolute;
  top: 55px;
  left: 461px;
  height: 525px;
}
header span {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;

  color: #2a2626;
}
.column {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2a2626;
}
.column-1 {
  width: 540px;
}
.mb8 {
  margin-bottom: 8px;
}
.column-2 {
  width: 540px;
}
.btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 24px;
  background: #fe8a02;
  margin-top: 40px;
  display: inline-block;
}
.section-video{
  background: #FFFFFF;
}
.container-article {
  max-width: 920px;
  margin: 0 auto;
  padding-top: 100px;
}
.section-video-title {
  text-align: center;
  margin-bottom: 27px;
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;

  color: #2a2626;
}
.section-video-title span {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #fe8a02;
}
.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin-bottom: 30px;
}
.video{
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.strip{
  width: 1440px;
  height: 100px;
  background: #42413C;
  margin-top: -88px;
}