/** CSS STYLE **/
* {
  margin: 0;
  box-sizing: border-box;
}

:root{
  --color-header:#F5F4F0;
  --color-white: #fff;
  --color-black: #42413C;
  --color-orange: #FE8A02;
  --color-brown:#B09A81;
}
body {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  font-family: "Open Sans", sans-serif;
  width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0px;
}
.header {
  background-color: var(--color-header);
  /* background: url("../images/background.png") center/contain no-repeat #f5f4f0; */
  position: relative;
  overflow: hidden;
}
.background::before {
  content: url("../images/background.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header-title {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  color: var(--color-orange);
  margin-bottom: 181px;
}
.main {
  position: absolute;
  top: 55px;
  left: 461px;
  height: 525px;
}
header span {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;

  color: #2a2626;
}
.column {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2a2626;
}

.column-1 {
  width: 540px;
}
.mb8 {
  margin-bottom: 14px;
}
.column-2 {
  width: 540px;
}
.btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 24px;
  background: var(--color-orange);
  margin-top: 40px;
  width: 148px;
  display: block;
}
.section-video {
  background: var(--color-white);
  height: 819px;
}
.container-article {
  max-width: 920px;
  margin: 0 auto;
  padding-top: 100px;
}
.section-video-title {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;

  color: #2a2626;
}
.section-video-title span {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: var(--color-orange);
}
.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.center{
  text-align: center;
}
.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  margin-top: 30px;
}
.section-nav {
  background: var(--color-black);
  padding-top: 100px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.item {
  width: 350px;
  background: #f5f4f0;
  padding: 24px;
}
.item:hover {
  background: var(--color-orange);
}
.nav-title {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;
  /* or 62px */
  width: 350px;
  color: var(--color-orange);
}
.nav-title span {
  color: #fff;
}
.item li {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  text-align: left;
  color: #42413c;
  margin-bottom: 40px;
}
.item h3 {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 16px;
  color: var(--color-orange);
}
.item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #2a2626;
}
.item:hover .wt {
  color: var(--color-white);
}

/* ================================================== */

.effect-ikea {
  position: relative;
  overflow: hidden;
  background: var(--color-header);
}
.flex {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.cont-title {
  display: flex;
  flex-direction: column;
}
.effect-ikea-h2 {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #2a2626;
  margin-bottom: 30px;
}
.effect-ikea-text {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  color: #2a2626;
}
.style {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #908d8b;
}
.cont-img {
  width: 578px;
  height: 434px;
  position: relative;
}
.effect-ikea-h3 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 0px 5px 10px;
  background: #B09A81;
}
.premature-optimization{
  position: relative;
  overflow: hidden;
  background: var(--color-brown);
}
.order0{
  order: 0;
}
.order1{
  order: 1;
}
.order2{
  order: 2;
}
.white{
  color: var(--color-white);
}
.brown{
  color: var(--color-brown);
}
.bg{
  background: var(--color-white);
}
.st{
  color: #D7CCC0;
}
.mb16{
  margin-bottom: 16px;
}